.placarDiv {
  width: 100%;
  display: grid;
  height: 13rem;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  margin-top: 0.6rem;
  user-select: none;
  box-shadow: 0px 1px 4px #6666668f;
  color: #666666;
}

.placarDiv p{
  font-size: 0.7rem;
  height: 0rem;
  margin: 0.8rem;
  font-weight: bold;
}

.placar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  align-self: baseline;
}


.placar span {
  font-weight: bold;
}

.teams {
  width: 33.333333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
}

.values {
  flex-direction: row;
}

.values input {
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  background-color: #f5f5f5;
  text-align: center;
  margin: .2rem;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 4px #6666665b;
}

.values span {
  font-size: 1.5rem;
}

.values input:focus {
  outline: none;
  /* border-bottom: 2px solid #0A347B; */
}

/* removing standar arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.teamCircle {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 4px #6666665b;

}

.teamCircle img {
  width: 2.5rem;
}

.modifyScore {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.2rem;
  width: 60%;
}

.modifyScore span {
  height: 1.5rem;
  width: 1.5rem;
  color: #666666;
  box-shadow: 0px 1px 4px #6666665b;
  border-radius: 50%;
  text-align: center;
  font-size: 1.19rem;
  font-weight: bold;
}

.modifyScore span:hover {
  cursor: pointer;
  box-shadow: 0px 1px 4px #666666c5;
  transition: .3s;
}

.notChangeable {
  display: none;
}