.rankingPodium {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  position: relative;
  height: 17rem;
}

.firstPlace {
  width: 16rem;
  height: 16rem;
  left: 16rem;
  z-index: 1;
}
.secondPlace {
  width: 14rem;
  height: 14rem;
  left: 2.5rem;
  top: 1rem;
}
.thirdPlace {
  width: 12rem;
  height: 12rem;
  right: 4.2rem;
  top: 2rem;
}

.podium {
  box-shadow: 12.69928px 12.69928px 25.39856px 0px #B4C1D5, -12.69928px -12.69928px 25.39856px 0px #FFF;
  background-color: #fff;
  position: absolute;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
}

.podium h2 {
  width: 5rem;
  text-align: center;
  border-bottom: 2px solid #1567f6b7;
  margin: 3rem 0 2rem;
}

.firstPlace h2 {
  color: #B6AE3B;
}
.secondPlace h2 {
  color: #959595;
}
.thirdPlace h2 {
  color: #CC8241;
  margin: 2rem 0 1.5rem;
}

.podium span {
  font-size: .8rem;
  color: #8EB4F5;
}

.podium img {
  align-self: center;
  margin-top: 1.5rem;
}
