.rankingPodium {
  width: 100%;
  display: flex;
  height: 17rem;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.trofeus {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.first {
  margin-bottom: 2rem;
}

.second {
  margin-bottom: 1rem;
}

.trofeus h2 {
  padding: .5rem 1rem;
  background-color: #f5f5f5;
  border-radius: 2rem;
  box-shadow: 3.32143px 3.32143px 6.64286px 0px #B4C1D5, -3.32143px -3.32143px 6.64286px 0px #FFF;
  margin-top: 1rem;
}

.firstPlace {
  width: 16rem;
  height: 16rem;
  z-index: 1;
}
.secondPlace {
  width: 14rem;
  height: 14rem;
}
.thirdPlace {
  width: 12rem;
  height: 12rem;
}

.podium {
  box-shadow: 12.69928px 12.69928px 25.39856px 0px #B4C1D5, -12.69928px -12.69928px 25.39856px 0px #FFF;
  background-color: #f5f5f5;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
}

.podium h2 {
  width: 5rem;
  text-align: center;
  border-bottom: 2px solid #1567f6b7;
  margin: 3rem 0 2rem;
}

.firstPlace h2 {
  color: #B6AE3B;
}
.secondPlace h2 {
  color: #959595;
}
.thirdPlace h2 {
  color: #CC8241;
  margin: 2rem 0 1.5rem;
}

.podium span {
  font-size: .8rem;
  color: #8EB4F5;
}

.podium .infoIconImg {
  margin: 1.5rem 0 0 0;
  position: relative;
}

.podium .tooltip {
  top: 2rem;
  left: -10rem;
}

.podium .triangle {
  right: 1.85rem;
}


