.navbar {
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#navbarup {
  height: 60px;
  background-color: #1568f6;
}

#navbarlogo {
  width: 160px;
  height: 100%;
  border-bottom: 4px solid #f3e84e;
  margin-bottom: 4px;
}

#navbarlogo a {
  margin-top: 10px;
}

.navbarlinks {
  height: 50px;
  background-color: #0A347B;
}

.regrasepalpites {
  color: rgb(209, 209, 209);
}

.regrasepalpites {
  padding-bottom: 0.2rem;
  width: 7rem;
  text-align: center;
}

.regrasepalpites:hover {
  transition: 0.1s;
  color: #F3E84E;
}

.login {
  padding: 0.5rem;
  background-color: #f3e84e;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 0.25rem;
  position: absolute;
  right: 0;
  top: 0.8125rem;
  margin-right: .8125rem;
  font-size: .9rem;
  width: 4rem;
  text-align: center;
}

.login:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px #ffffff81;
  transition: 0.2s;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 48px;
}

.active {
  color: #F3E84E;
}

.bemvindo {
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  width: min-content;
  margin-left: .8125rem;
}

@media (max-width: 450px) {

  .navbarlinks {
    justify-content: space-around;
    font-size: .9rem;
  }
}

.none {
  display: none;
}
