.regras {
  background-color: #f5f5f5;
  color: #666666;
  line-height: 1.5rem;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.regrasBanner {
  box-shadow: 0 1px 4px #66666682;
  border-radius: 0 0 .8rem .8rem;
  max-width: 50rem;
  width: 100%;
  margin: 0rem 0rem .5rem 0rem;
}

.regras p {
  margin: 1rem 0;
}

.regrasDiv {
  max-width: 50rem;
  padding: 0rem 1rem;
  box-shadow: 0 1px 4px #66666682;
  background-color: #fff;
  border-radius: 0.8rem;
  margin: 0rem .5rem 2rem .5rem;
}

.regrasDiv ol {
  padding: revert;
}

.regras h4, .regras h2 {
  color: #002151;
  font-weight: bold;
  margin: 2rem 0;
}

.regras h4 {
  margin: 1rem 0;
}

.regras h2 {
  text-align: center;
}

.regrasDiv table, .regrasDiv td {
  border: 1px solid #666;
  align-self: center;
}

.regrasDiv td {
  padding: .3rem 1rem;
}

.divTable {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cta {
  padding: 0.5rem;
  background-color: #f3e84e;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-size: .9rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 10rem;
  font-size: 1rem;
}

.cta:hover {
  cursor: pointer;
  box-shadow: 1px 1px 8px #91919181;
  transition: 0.2s;
}